USE [VENTAS_MINORISTAS]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 17/10/2024 15:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[ID_Customer] [int] IDENTITY(1,1) NOT NULL,
	[ID_Location] [int] NULL,
	[CustomerName] [nvarchar](70) NULL,
	[ContactNameLastname] [nvarchar](50) NULL,
 CONSTRAINT [PK_CUSTOMERS_ID_Customer] PRIMARY KEY CLUSTERED 
(
	[ID_Customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCATIONS]    Script Date: 17/10/2024 15:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATIONS](
	[ID_Location] [int] IDENTITY(1,1) NOT NULL,
	[Territory] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](20) NULL,
 CONSTRAINT [PK_LOCATIONS_ID_Location] PRIMARY KEY CLUSTERED 
(
	[ID_Location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 17/10/2024 15:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ID_Order] [int] IDENTITY(1,1) NOT NULL,
	[ID_Customer] [int] NULL,
	[ID_Product] [nvarchar](20) NULL,
	[OrderNumber] [nvarchar](20) NULL,
	[OrderDate] [date] NULL,
	[QuantityOrder] [int] NULL,
	[PriceEach] [float] NULL,
	[OrderLineNumber] [int] NULL,
	[Sales] [float] NULL,
	[DealSize] [nvarchar](30) NULL,
	[Status] [nvarchar](20) NULL,
 CONSTRAINT [PK_ORDERS_ID_Order] PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 17/10/2024 15:56:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ID_ProductCode] [nvarchar](20) NOT NULL,
	[ProductLine] [nvarchar](50) NULL,
	[MSRP] [int] NULL,
 CONSTRAINT [PK_PRODRUCTS_ID_Product] PRIMARY KEY CLUSTERED 
(
	[ID_ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CUSTOMERS] ON 

INSERT [dbo].[CUSTOMERS] ([ID_Customer], [ID_Location], [CustomerName], [ContactNameLastname]) VALUES (1, 1, N'Souveniers And Things Co.', N'Adrian Huxley')
INSERT [dbo].[CUSTOMERS] ([ID_Customer], [ID_Location], [CustomerName], [ContactNameLastname]) VALUES (2, 2, N'Australian Collectables, Ltd', N'Sean Connery')
INSERT [dbo].[CUSTOMERS] ([ID_Customer], [ID_Location], [CustomerName], [ContactNameLastname]) VALUES (3, 3, N'Australian Collectors, Co.', N'Peter Ferguson')
SET IDENTITY_INSERT [dbo].[CUSTOMERS] OFF
GO
SET IDENTITY_INSERT [dbo].[LOCATIONS] ON 

INSERT [dbo].[LOCATIONS] ([ID_Location], [Territory], [Country], [City], [PostalCode]) VALUES (1, N'APAC', N'Australia', N'Chatswood', N'2067')
INSERT [dbo].[LOCATIONS] ([ID_Location], [Territory], [Country], [City], [PostalCode]) VALUES (2, N'APAC', N'Australia', N'Glen Waverly', N'3150')
INSERT [dbo].[LOCATIONS] ([ID_Location], [Territory], [Country], [City], [PostalCode]) VALUES (3, N'APAC', N'Australia', N'Melbourne', N'3004')
SET IDENTITY_INSERT [dbo].[LOCATIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDERS] ON 

INSERT [dbo].[ORDERS] ([ID_Order], [ID_Customer], [ID_Product], [OrderNumber], [OrderDate], [QuantityOrder], [PriceEach], [OrderLineNumber], [Sales], [DealSize], [Status]) VALUES (1, 80, N'S10_1678', N'10107', CAST(N'2003-02-24' AS Date), 30, 95.7, 2, 2871, N'Small', N'Shipped')
INSERT [dbo].[ORDERS] ([ID_Order], [ID_Customer], [ID_Product], [OrderNumber], [OrderDate], [QuantityOrder], [PriceEach], [OrderLineNumber], [Sales], [DealSize], [Status]) VALUES (2, 24, N'S10_1678', N'10121', CAST(N'2003-05-07' AS Date), 34, 81.35, 5, 2765.9, N'Small', N'Shipped')
INSERT [dbo].[ORDERS] ([ID_Order], [ID_Customer], [ID_Product], [OrderNumber], [OrderDate], [QuantityOrder], [PriceEach], [OrderLineNumber], [Sales], [DealSize], [Status]) VALUES (3, 23, N'S10_1678', N'10134', CAST(N'2003-07-01' AS Date), 41, 94.74, 2, 3884.34, N'Medium', N'Shipped')
GO
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
GO
INSERT [dbo].[PRODUCTS] ([ID_ProductCode], [ProductLine], [MSRP]) VALUES (N'S10_1678', N'Motorcycles', 95)
INSERT [dbo].[PRODUCTS] ([ID_ProductCode], [ProductLine], [MSRP]) VALUES (N'S10_1949', N'Classic Cars', 214)
INSERT [dbo].[PRODUCTS] ([ID_ProductCode], [ProductLine], [MSRP]) VALUES (N'S10_2016', N'Motorcycles', 118)
GO
ALTER TABLE [dbo].[CUSTOMERS]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMERS_LOCATIONS] FOREIGN KEY([ID_Location])
REFERENCES [dbo].[LOCATIONS] ([ID_Location])
GO
ALTER TABLE [dbo].[CUSTOMERS] CHECK CONSTRAINT [FK_CUSTOMERS_LOCATIONS]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_CUSTOMERS] FOREIGN KEY([ID_Customer])
REFERENCES [dbo].[CUSTOMERS] ([ID_Customer])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_CUSTOMERS]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_PRODUCTS] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[PRODUCTS] ([ID_ProductCode])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_PRODUCTS]
GO
